* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Comfortaa", cursive;
}
body, html {
    height: 100%;
} 

.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000000000000;
    background-color: rgba(0, 0, 0, 0.6);

    display: none;
    align-items: center;
    justify-content: center;
}
.modal_window {
    width: 100%;
    max-width: 900px;
    height: 500px;
    background: rgba(179, 40, 35, 0.9);
    border-radius: 50px;
    position: relative;
}
.modal_header {
    display: flex;
    justify-content: center;
    background: rgba(164, 113, 83, 0.9);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.modal_title{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 71px;

    color: #000000;
}
.modal_body {
    padding: 0 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal_input {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.modal_contact{
    width: 100%;
}
.modal_contact label {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 40px;

    color: #000000;
}
.modal_contact input {
    height: 50px;

    font-size: 2rem;

    padding: 5px 10px;
    background: #D9D9D9;
    border-radius: 15px;
    border: none;
}
.modal_button {
    margin-top: 20px;
}
.modal_button button{
    padding: 10px 15px;
    font-size: 2rem;
    background-color: #FF9C96;
    border-radius: 15px;
    border: none;
}

.container {
    /* height: 100%; */
    background-image: url(/brick19.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    width: -webkit-fill-available;
    height: 100px;
    background-color: #EEAA83;;
    color: #04262F;
    position: fixed;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.gambuger {
    display: none;
}
.logotype {
    background-image: url(./к43434\ 2.png);
    width: 100px;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.header_title {
    font-family: 'Saira Stencil One';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 101px;
    color: #04262F;
}
.header_nav {

    display: flex;
    gap: 50px;
    color: #04262F;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
}
.header_nav a {
    color: #04262F;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
}
.header_nav nav {
    cursor: pointer;
}


.block_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 250px;
    padding: 0 100px;
}
.block_1_text h1{
    font-family: 'Saira Stencil One';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 201px;
    color: #04262F;
}
.block_1_text p{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 71px;

    color: #04262F;
}
.block_1_button button{
        font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 30px 60px;
    background: #04262F;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    transition: all.2s;
}
.block_1_button button:hover{
background-color: #FFFFFF;
color: #04262F;
transform: scale(1.05);
}

.block_2 {
    height: 100%;
    padding: 0 50px ;
    
    margin-bottom: 100px;
}
.gallery {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2%;
}
.cards {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
gap: 20px;
}
.card_text {
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Saira Stencil One';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 201px;
    color: #04262F;
}
.card {
    background-color: #ffffff;
    border: 30px solid #04262F;
    border-radius: 10px;
    transition: all .2s;
    height: 600px;
}
.card:hover {
    transform: scale(1.05);
}

.text_block{
    margin: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;


    text-align: center;

    gap: 50px;

    background-color: rgba(197, 197, 197, 0.699);
    border-radius: 20px;
    padding: 30px;
}
.text_block h1{
    font-weight: 900;
    font-size: 54px;
}
.text_block p {
    font-weight: 600;
    font-size: 34px;
    line-height: 50px;

    width: 100%;

}
.abouts {
    
}
.img {
    
}
.about {
}


.footer {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background: rgba(238, 170, 131, 0.8);
}
.footer_text {
    color: #04262F;
}
.footer_text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;

}
.footer_text p{
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
}
.footer_text_info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer_adress {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #04262F;
}


@media (max-width:1440px) and (min-width:1110px) {
    .header_title {
        font-size: 48px;
    }
    .header_nav a{
        font-size: 20px;
    }
    .block_1_text h1 {
        font-size: 65px;
    }
    .block_1_text p{
        font-size: 36px;
    }
    .block_1 {
        gap: 100px;
    }
    .card_text {
        font-size: 65px;
    }
    .footer_text h1{
        font-size: 24px;

    }
    .footer_text p{ 
        font-size: 18px;

    }
    .footer_adress {
        font-size: 24px;
    }
    .block_1_button button {
        font-size: 24px;
        padding: 15px 40px;
    }
}
@media (max-width:1109px) and (min-width:768px) {
    .header_title {
        font-size: 24px;
        
    }
    .header_nav a{
        font-size: 12px;
    }
    .text_block {
        margin: 120px 10px 50px 10px;
        padding: 20px;
    }
    .text_block P {
        font-size: 18px;
        line-height: 20px;
    }
    .text_block h1{
        font-size: 24px;
    }
    .block_1 {
        flex-direction: column;
    }
    .block_1_text h1 {
        font-size: 64px;
    }
    .block_1_text p{
        font-size: 28px;
    }
    .block_1 {
        gap: 100px;
    }
    .block_2 {
        height: 100%;
    }
    .gallery {
        flex-direction: column;
        gap: 20px;
    }
    .cards {
        gap: 0;
        
    }
    .card {
        height: 500px;
    }
    .card_text {
        font-size: 64px;
        line-height: normal;
    }
    .footer_text h1{
        font-size: 24px;

    }
    .footer_text p{ 
        font-size: 18px;

    }
    .footer_adress {
        font-size: 24px;
    }
    .block_1_button button {
        font-size: 24px;
        padding: 15px 40px;
    }
}
@media (max-width:767px) and (min-width:425px) {
    .header_title {
        font-size: 18px;
        
    }
    .gambuger {
        display: block;
        transition: all 1s;
        
    }
    .show {
        display: flex !important; 
    }
    .text_block {
        margin: 120px 10px 50px 10px;
        padding: 20px;
    }
    .text_block P {
        font-size: 18px;
        line-height: 20px;
    }
    .text_block h1{
        font-size: 24px;
    }
    .header_nav{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 274px;
        top: 99px;
        left: 0;
        background-color: #EEAA83;
        align-items: center;
        text-align: center;
        justify-content: center;
    
    }
    .block_1 {
        flex-direction: column;
        padding: 0 20px;
    }
    .block_1_text h1 {
        font-size:78px;
        line-height: normal;
    }
    .block_1_text p{
        font-size:32px;
        line-height: normal;
    }
    .block_1 {
        gap: 100px;
    }
    .block_2 {
        height: 100%;
    }
    .gallery {
        flex-direction: column;
        gap: 20px;
    }
    .cards {
        gap: 0;
        
    }
    .card {
        height: 400px;
    }
    .card_text {
        font-size: 48px;
        line-height: normal;
    }
    .footer {
        flex-direction: column;
        gap: 50px;
    }
    .footer_text h1{
        font-size: 24px;

    }
    .footer_text p{ 
        font-size: 18px;

    }
    .footer_adress {
        font-size: 24px;
    }
    .block_1_button button {
        font-size: 24px;
        padding: 15px 40px;
    }
}
@media (max-width:424px) and (min-width:320px) {
    .header_title {
        font-size: 13px;
        display: none;
    }
    .gambuger {
        display: block;
        transition: all 1s;
        
    }
    .text_block {
        margin: 120px 10px 50px 10px;
        padding: 20px;
    }
    .text_block P {
        font-size: 12px;
        line-height: 20px;
    }
    .text_block h1{
        font-size: 24px;
    }
    .show {
        display: flex !important; 
    }
    .header_nav{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 274px;
        top: 99px;
        left: 0;
        background-color: #EEAA83;
        align-items: center;
        text-align: center;
        justify-content: center;
    
    }
    .logotype {
        width: 100px;
        height: 100px;
    }
    .block_1 {
        flex-direction: column;
        padding: 0 20px;
    }
    .block_1_text h1 {
        font-size:78px;
        line-height: normal;
    }
    .block_1_text p{
        font-size:32px;
        line-height: normal;
    }
    .block_1 {
        gap: 100px;
    }
    .block_2 {
        height: 100%;
        padding: 0 5px;
    }
    .gallery {
        flex-direction: column;
        gap: 20px;
        
    }
    .cards {
        gap: 0;
        
    }
    .card {
        height: 400px;
    }
    .card_text {
        font-size: 48px;
        line-height: normal;
    }
    .footer {
        flex-direction: column;
        gap: 50px;
    }
    .footer_text h1{
        font-size: 24px;

    }
    .footer_text p{ 
        font-size: 18px;

    }
    .footer_adress {
        font-size: 24px;
    }
    .block_1_button button {
        font-size: 24px;
        padding: 15px 40px;
    }
}